head {
    text-align: center;
}

body {
    text-align: center;
    background: aquamarine;
}
h1 {
    font-size: 150px;
    color: chocolate;
}

button {
    max-width: 500px;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;

}

p {
    font-size: 100px ;
    font-family: "Agency FB";
    color: cornflowerblue;
    font-style: italic;
}


